header {
    background-color: #FFCC99;
}

main {
    background-color: #E6F2FF;
    display: flex;
}

aside {
    background-color: #B3D9FF;
    flex: 1;
}

footer {
    background-color: #99CC99;
}

h1 {
    text-align: center;
    font-weight: bold;
}

section {
    flex: 3;
    margin: 20px;
}

aside,
footer {
    border: solid 1px #ccc;
}

header,
footer {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
}